{% assign certificates = site.data.data.certificates %}
{% if certificates %}
<section class="section certificates-section">

    <h2 class="section-title">
        <span class="fa-stack fa-xs">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
        </span>
        {{ certificates.title }}
      </h2>

      {% if certificates.intro %}
      <div class="intro">
        {{ certificates.intro | markdownify }}
      </div><!--//intro-->
      {% endif %}

      {% for certificate in certificates.certs %}
      <div class="item">
        {% if certificate.image %}
          <li><a href="{{ certificate.image }}" target="_blank">{{ certificate.title }}</a></li>
        {% else %}
          <li>{{ certificate.title }}</li>
        {% endif %}
      </div>
      {% endfor %}
</section>
{% endif %}